<div class="container spacer">
  <div class="panel panel-primary" >
    <div class="panel-heading">Visualisation d'un article</div>
    <div>
      <div class="panel-body">
        <div>

          <div class="form-group">

            <label class="control-label">Titre : </label>
            <input class="form-control" type="text" [(ngModel)]="a.titre"/>
          </div>

          <div class="form-group">

            <label class="control-label">Description : </label>
            <input class="form-control" type="text" [(ngModel)]="a.description"/>
          </div>


          <button class="btn btn-primary" (click)="updateArticle()"> Mettre à jour</button>
        </div>
      </div>
    </div>

  </div>
</div>
